.bg-green {
    background-color: #90FFDC;
}

.bg-blue {
    background-color: #8DE4FF;
}

.btn-blue {
    border: none;
    background-color: #8AC4FF;
    color: white;
}

.btn-green {
    border: none;
    color: white;
    background-color: #87CBAC;
}