.round {
  border-radius: 15px;
}

.round-btn {
  border-radius: 20px;
  padding: 0px 12px;
}

.bg-navbar-dark {
  background-color: #87CBAC;
}

.bg-nav-button {
  background-color: #8AC4FF;
}

.text-light-color {
  color: #90FFDC;
}